<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>geolocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-button (click)="getCurrentPosition()">Obtener coordenadas</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Latitude: {{latitude}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Longitude: {{longitude}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-button (click)="getDataLocation()">Obtener data</ion-button>
    </ion-item>
    <ion-item *ngIf="data">
      <ion-label>Country: {{data.address.country}}</ion-label>
    </ion-item>
    <ion-item *ngIf="data">
      <ion-label>City: {{data.address.city}}</ion-label>
    </ion-item>
    <ion-item *ngIf="data">
      <ion-label>Address: {{data.address.road}} {{data.address.house_number}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
