<ion-header>
  <ion-toolbar>
    <ion-title>Barcode Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="result">
      Último escaneo: {{result}}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="results.length > 0">
    <ion-item>
      Todos los escaneos
    </ion-item>
    <ion-item *ngFor="let scan of results">
      {{scan}}
      <ion-button slot="end" (click)="delete(scan)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>