<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title id="principalTitle">
      <h1>{{ headerTitle }}</h1>
      Aquí comienza todo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item lines="none"> </ion-item>
  <ion-item lines="none" class="ion-text-center">
    <ion-label>Bienvenido!</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-input label="Usuario" labelPlacement="stacked"
      [(ngModel)]="username">
    <ion-icon name="person" slot="end" aria-hidden="true"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-input [(ngModel)]="password" 
      label="Contraseña" labelPlacement="stacked" type="password">
      <ion-icon name="lock-closed" slot="end" aria-hidden="true"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="danger">{{signInInvalidMessage}}</ion-label>
  </ion-item>
</ion-list>
<ion-button (click)="singIn()" expand="block">
  Ingresar
  <ion-icon name="log-in-outline"></ion-icon>
</ion-button>
<ion-list>
  <ion-item lines="none" class="ion-text-center">
    <ion-label routerLink="/password-recovery">Recuperar contraseña</ion-label>
  </ion-item>
  <ion-item lines="none" class="ion-text-center">
    <ion-label routerLink="/register">Registrarse</ion-label>
  </ion-item>
</ion-list>
</ion-content>
