<ion-header>
  <ion-toolbar>
    <ion-title>Barcode Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="result">
      último escaneo: {{result}}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="results.length > 0">
    <ion-item>
      Lista de elementos escaneados:
    </ion-item>
    <ion-item *ngFor="let item of results">
      {{item}} <ion-button (click)="remove(item)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>