<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      <h1>SkeletonAPP</h1>
      Aqui comienza todo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center welcome">
      Bienvenidos!
    </ion-card-header>
    <ion-card-content>
      <ion-input label="Usuario" labelPlacement="floating"></ion-input>
      <ion-input label="Contraseña" labelPlacement="floating" type="password"></ion-input>
      <ion-button expand="full">Ingresar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-datetime></ion-datetime>
</ion-content>
